#linkId
{
margin:20px;
padding:20px;
border:2px solid black;
}



.canvasClass
{
height:auto;
width:auto;
margin:auto;
position: absolute;
top: 50;
bottom: 20;
left: 2  0;
right: 20;
background-color:white;
border:3px solid black;
padding:0px;
}

.divCanvas
{
padding:20px;
margin: 10px;
border:1px solid black;
height:1100px;
width:1800px;
}




